@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(181, 174, 174); */
    font-family: 'Poppins', sans-serif;
}
.main_body{
    background-color: #ffdcdc;
}

.first_container {
    height: 5%;
    width: 100%;
    
    /* text-align: center; */

}


.logo_img {
    height: 35px;
    width: 50px;
    border-radius: 4px;
     position:center;/*
    top:4px;
    left:4px; */
}



.logo {
    margin-left: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    
}
.tag_line{
    padding-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(152, 7, 7);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 54px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
/*-----------*/
.body_1{
    margin: 21px;
    padding: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find_donar{
    height: 200px;
    width: 25%;
    padding: 20px;
    opacity: 0.8;
    border-radius: 16px;
    box-shadow: 0 4px 8px 0 #ffdcdc;
    transition-property: all;
    transition: 0.3s;
}


.find_donar:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    opacity: 1;
 }

 .video{
     border-radius: 20px;

 }
 .search{
    display: inline-block;
    position: absolute;
    width: 3%;
    border: 0px solid;
    top: 55%;
    margin: 0px auto;
    left: 10%;
 }
 .search input[type=text]{
    padding: 6px;
    font-size: 17px;
    right: 0%;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-right: 16px;
    border-radius: 0px;
 }
 
 input{
     padding:4px 10px;
    outline:none;
    border:none;
    border-radius:2px;
 }

 .registration{
    transition: all 0.4s ease;
    border-radius: 4px;

 }
 .video{
    opacity: 0.8;
 }


/*---------*/ 


.background-login{
    height: 60px;
    background-color: #ffdcdc;
    background-size: cover;
    margin-top: -56px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

 .signup-box {
    width: 760px;
    height: 620px;
    margin: auto;
    background-color: #ffdcdc;
    border-radius: 3px;
  }
  
 .login-box {
    width: 370px;
    height: 300px;
    margin: auto;
    border-radius: 15px;
    background-color: #ffdcdc;
    box-shadow: 0px 8px 16px 0px;
    
    
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: right;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #000000;
  }
  /*---------*/
  .background-thirdsection {
    height: 950px;
    background-color: #ffdcdc;
    background-size: cover;
    margin-top: -14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.third_box{
    text-align: center;
    padding-top: 53px;
}

.reg_head1{
    font-size: 44px;
    font-weight: bolder;
    font-family: 'Fredericka the Great', cursive;
}

.reg_head2{
    font-size: 27px;
    padding-top: 16px;
    text-align: center;
}

.third_border{
    border: 2px solid black;
    max-width: 464px;
    margin: auto;
    text-align: left;
    padding: 42px 42px 42px 87px;
    margin-top: 14px;
}

.space_box1{
    margin: 0px 0px 28px 0px;
    padding: 7px 223px 7px 7px;
    border: 1px solid black;
    border-radius: 3px;
}

#id_space_box1{
    padding: 7px 275px 7px 7px;
}

#third_btn{
    display: flex;
    padding: 8px 155px 8px 155px;
}

.third_button1{
    
    margin: 0px 8px 0px -164px;
    padding: 7px 80px 8px 80px;
    border: 1px solid black;
}


.third_button2{
    margin: 0px 0px 0px 15px;
    padding: 7px 80px 8px 80px;
    border: 1px solid black;
}

.third_button1:hover{
    background-color: #c9c6c6;
}

.third_button2:hover{
    background-color: #c9c6c6;
}
/*---------*/
.background-firstsection {
    background-color: #ffdcdc;
    background-size: cover;
    height: 750px;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 88%;
    margin: auto;
    height: 95%;
}

.firsthalf {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Zen Antique Soft', serif;

}

.secondhalf {
    width: 50%;

}

.secondhalf img {
    width: 54%;
    margin-left: 311px;
    border: 5px solid #171616;
    border-radius: 59px;
}

.text-small {
    font-size: 18px;
}

.text-small li {
    font-size: 18px;
}

.top {
    font-size: 26px;
    padding: 19px 0px 0px 0px;
    font-family: 'Fredericka the Great', cursive;
}

/*--------------*/


.background-sixthsection{
    background-color: #ffdcdc;
    background-size: cover;
    height: 850px
}
.box-main2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 88%;
    margin: auto;
    height: 95%;
}
.firstpart {
    width: 50%;
    display: flex;
    height:150px;
    
}
.text-small2 {
    font-size: 18px;
    position:absolute;
    top:2900px;
    left:360px;
}

.text-small2 li {
    font-size: 18px;
}
.top1 {
    font-size: 26px;
    padding: 19px 0px 0px 0px;
    font-family: 'Fredericka the Great', cursive;
    position: absolute;
    top:2800px;
}
.secondpart {
    width: 50%;

}










/* ############################################################################################*/



/* ===============================  F O O T E R  ==================================== */
.footer_section{

    margin: 0 auto;
}

/* ===============================  FIRST = F O O T E R  ==================================== */

.subscriber_head{

    background-color: #F2B134;
    /* display: flex; */
    display: grid;
    text-align: center;
    width: 100%;
    height: 70px;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-areas: 
    "head input subscribe";
    /* align-items: center;
    justify-content: center; */
    /* display: flex; */
    /* margin: auto; */
    
}

.subscriber_search_box{

    margin: auto;
    display: flex;
    width: 100%;
    grid-area: input;
}

.subscriber_search_bar{

    /* width: 450px; */
    /* display: block; */
    width: 100%;
    max-width: 100%;
    font-family: inherit;
   
    /* max-width: calc(100% - 50%); */
    color: #49c1a2;

    font-weight: 500;
    border-radius:50px 0px 0px 50px;
    border: 0px;
    padding: 15px 0px 15px 20px;
  
    font-size: 14px;
    background: #F0F4EF;
   
   
 

   
  
}

.subscriber_head h1{
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    font-family: sans-serif;
    grid-area: head;
    text-align: right;
    margin-right: 10px;
  
}

.subscriber_button{
    border: 0px;
    width: 150px;
    max-width: 100%;
    font-size: 700;
    padding: 15px;
    font-size: 1rem;
    color: white;
    letter-spacing: 4px;
    grid-area: subscribe;
    font-family: sans-serif;
    background: rgb(152, 7, 7);
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;

    font-weight: 500;
    border-radius: 0px 50px 50px 0px;
    outline: 0;
    transition: all 0.2s;

}

/* ===============================  FIRST = F O O T E R = ENDS ==================================== */




/* ===============================  MID = F O O T E R  ==================================== */
.subscriber_mid{

    background-color: #49c1a2;
    width: 100%;
    /* height: 180px; */
    height: 200px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 0.7fr 0.01fr 1.6fr 0.01fr 1fr;
    grid-template-areas: 
    "first line second line2 last";
}


.first_para{

    margin-left: 10%;
    margin-bottom: auto;
    margin-top: auto;
    grid-area: first;
}

#footer_first_head{
    font-weight: lighter;
}

.vertical {
    border-left: 1px solid #0000004d;
    height: 156px;
    grid-area: line;
    margin-top: auto;
    margin-bottom: auto;
    /* position: absolute;
    left: 21%;
    bottom: -23%; */

}

.vertical2{
    border-left: 1px solid #0000004d;
    height: 156px;
    grid-area: line2;
    margin-top: auto;
    margin-bottom: auto;
    /* position: absolute;
    left: 21%;
    bottom: -23%; */

}

.middle_para{
    grid-area: second;
    display: flex;
}

.last_para{
    grid-area: last;
}

.footer_About{
    /* margin: auto; */
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    
}
.footer_About_para{
    margin-top: 10%;
    margin-bottom: 10%;
}

.footer_About_head{

    color: black;
}

.footer_About_links{

    font-weight: lighter;
    color: black;
}











.last_para{
    margin-top: auto;
    margin-bottom: auto;
}

.footer_form_mid{

    margin-top: 3%;
    display: flex;
    width: 100%;
}

.footer_mid_subscribe_bar{

  /* width: 450px; */
    /* display: block; */
    width: 100%;
    max-width: 100%;
    font-family: inherit;
   
    /* max-width: calc(100% - 50%); */
    color: #435978;

    font-weight: 500;
    border-radius:50px 0px 0px 50px;
    border: 0px;
    padding: 15px 0px 15px 20px;
  
    font-size: 14px;
    background: #F0F4EF;
   


}
.footer_mid_subscriber_button{
    border: 0px;
    /* width: 150px; */
    width: 100px;
    max-width: 100%;
    font-size: 700;
    padding: 13px;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    grid-area: subscribe;
    font-family: sans-serif;
    background: rgb(152, 7, 7);
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    /* margin-left: 1%; */
    margin-right: 2%;
    font-weight: 500;
    border-radius: 0px 50px 50px 0px;
    outline: 0;
    transition: all 0.2s;


}

.subscriber_button:hover{

    background: rgb(0, 140, 255);


}

.footer_mid_subscriber_button:hover{

    background: rgb(0, 140, 255);
}

.footer_mid_icons{
    margin: 2%;
    /* margin-left: 2%; */

}

.footer_mid_icons_inner:hover{

    color: #006aff;
}

.quick_signup{
    font-size: 1.4rem;
    font-weight: lighter;
}

.footer_last{
    margin-bottom: 4%;
}


.footer_mid_icons_inner{

    font-size: 2rem;
    color: blue;
    /* border: 1px solid blue; */
}

.icon_section{
    /* you can either set it to flex or block */
    display: block;

    margin-left: 15%;
}



/* ====================================== MID = F O O T E R  ENDS ======================================= */





/* ====================================== LAST = F O O T E R  STARTS ======================================= */
.subscriber_last{
    background-color: rgb(152, 7, 7);
    height: 70px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 2fr 0.01fr 3fr 1fr;
    grid-template-areas: 
    "logo line3 mid-section copyright";
     
}


.footer_logo_last{
 
    text-align: end;
    margin-top: auto;
    margin-bottom: auto;
}

.vertical3{
    border-left: 1px solid #0000004d;
    height: 15px;
    grid-area: line3;
    margin-top: auto;
    margin-bottom: auto;
}

.footer_last_mid_para{

margin-top: auto;
margin-bottom: auto;

}

#unleash{

    color: white;
    font-weight: lighter;

}

.copyright2{

    color: white;
    font-size: 0.7rem;
    font-weight: lighter;
}

.footer_last_last_para{

    margin-top: auto;
    margin-bottom: auto;
}

/* ====================================== LAST = F O O T E R  ENDS ======================================= */

/* -----------------------------MEDIA QUERIES----------------------------- */

@media only screen and (max-width: 992px) {

    .subscriber_head{
    
        grid-template-columns: 0.5fr 2.5fr 0.5fr;
    }
    #free_daily_updates{
        display: none;
    }

    .quick_signup{
    display: none;

    }
    
    
    
    
}


@media only screen and (max-width: 768px) {

    .subscriber_head{
    
        grid-template-columns: 0.1fr 1fr 0.1fr;
    }

    .subscriber_mid{
        grid-template-columns:1fr;
        /* grid-template-rows: 1.2fr 0.01fr 1fr 0.01fr 1fr; */
        grid-template-rows: 0.9fr 0.01fr 0.9fr 0.01fr 0.9fr;
        grid-template-areas:
        "first"
        "horizontal"
        "second"
        "horizontal2"
        "last";
        height: 100%;
        grid-gap: 0px;
    }



    .first_para{
        margin-left: 3%;
    }

    .middle_para{
        flex-wrap: wrap;
    }
    
    .last_para{
        text-align: center;
    }
    
    .footer_mid_subscriber_button{
        margin-right: 0;
    }

    .vertical{
        display: none;
    }


    .vertical2{
        display: none;
        
    }

    .vertical3{
        display: none;
    }

    .horizontal{
        border-bottom: 1px solid #0000004d;
        grid-area: horizontal;
    }
    
    .horizontal2{
        border-bottom: 1px solid #0000004d;
        grid-area: horizontal2;

        
    }

    .contacts h4{
        text-align: left;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .contacts{

        margin-top: 3%;
        margin-bottom: 3%;
    }

    .icon_section{
        margin-left: 0%;
        justify-content: center;
    }

    .footer_mid_icons_inner{
        font-size: 3rem;
    }

    .subscriber_last{
        display: block;
        width: 100%;
        height: 100%;
        padding: 1%;
    }

    .footer_logo_last{
        text-align: center;
    }

    .footer_last_mid_para{
        text-align: center;
    }

    .footer_last_last_para{
        text-align: center;
    }

    .footer_last{
        margin: 0;
    }


}



@media only screen and (max-width: 576px) {

    .subscriber_head{
    
        grid-template-columns: 0.1fr 1fr 0.1fr;
    }

    .subscriber_mid{
        grid-template-columns:1fr;
        /* grid-template-rows: 1.2fr 0.01fr 1fr 0.01fr 1fr; */
        grid-template-rows: 0.5fr 0.01fr 0.5fr 0.01fr 0.5fr;
        grid-template-areas:
        "first"
        "horizontal"
        "second"
        "horizontal2"
        "last";
        height: 100%;
        grid-gap: 0px;
    }


    .horizontal{
        border-bottom: 1px solid #0000004d; 
        grid-area: horizontal;

   
    }
    
    .horizontal2{
       border-bottom: 1px solid #0000004d;       
       grid-area: horizontal2;

    }


    .middle_para{
        text-align: left;
    }

    .footer_About{


        margin-top: auto;
        margin-bottom: auto;
        margin-left: 8.4%;
        margin-right: 8.4%;
    }

    .footer_About_head{

        font-size: 1.4rem;
    }

    .footer_About_links{

        font-size: 1.6rem;  
    }


    #footer_first_head{

        font-size: 2rem;
    }


    .footer_para h5{

        font-size: 1.2rem;
    }





}


@media only screen and (max-width: 502px) {



 .subscriber_mid{

    grid-template-rows: 0.9fr 0.01fr 2.5fr 0.01fr 0.3fr;
 }




}
